<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Resultados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-center">
    <div class="container">
        <h1 class="mt-5">Consultar Resultados</h1>
        <p class="mt-4">Aquí se podrán consultar los resultados previos de las votaciones.</p>
        <a href="/" class="btn btn-primary btn-lg btn-block">Volver a Inicio</a>
    </div>
</body>
</html>
